/**
 * This theme is intended for a 3 items option menu.
 */
@import "../colorschemes/colors.rasi"
@import "shared/shutdown-menu.rasi"

#window {
  padding: @option-6-window-padding;
}
#listview {
  spacing: @option-6-listview-spacing;
  lines: 6;
}

